### Setup

In [ ]:
from google.colab import drive
#drive.flush_and_unmount()
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
climate_train = pd.read_csv("./drive/MyDrive/Colaboratory Notebooks/WiDS22_Climate_Change/Data/train.csv")
climate_train = climate_train.set_index("id")
climate_train.sample(3)

       Year_Factor State_Factor  ... days_with_fog    site_eui
id                               ...
32337            3      State_6  ...          99.0   77.979178
38370            4      State_6  ...           NaN  144.619629
51075            5      State_6  ...           NaN  120.880115

[3 rows x 63 columns]

## Data cleaning and preprocessing

Energy Star and Facility Type

### Missing and extreme values

In [ ]:
climate_copy = climate_train.copy(deep = True)
climate_copy.sample(3)

       Year_Factor State_Factor  ... days_with_fog    site_eui
id                               ...
45275            5      State_6  ...           NaN   80.924531
48351            5      State_6  ...           NaN   78.090945
27983            3      State_6  ...           NaN  147.348108

[3 rows x 63 columns]

Drop features with significant amount of missing values

In [ ]:
# Drop features with siginificant amount of missing values
climate_clean = climate_copy.drop(columns=['direction_max_wind_speed', 'direction_peak_wind_speed', 'max_wind_speed', 'days_with_fog'])

Drop rows where year_built is 0

In [ ]:
# year_built 0 rows - drop (treat as NaN)
len(climate_clean.loc[climate_clean['year_built'] == 0])

6

In [ ]:
climate_clean = climate_clean[climate_clean.year_built != 0]
# climate_clean[climate_clean.year_built == 0]

### TODO: impute energy_star_rating missing values
Formula or predict values with ML - trade off of less data vs prediction on top of prediction

Baseline: dropped rows with missing values

2nd Attempt: impute with mean

In [ ]:
# Rows in dataset - 75k
print(len(climate_clean.index))

75751

In [ ]:
#  Missing values in energy_star_rating - 26k
climate_clean['energy_star_rating'].isna().sum()

26709

In [ ]:
#  Missing values in year_built - 2k
climate_clean['year_built'].isna().sum()

1837

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)
imputer = imputer.fit(climate_clean[['energy_star_rating']])
climate_clean['energy_star_rating'] = imputer.transform(climate_clean[['energy_star_rating']])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
# Drop missing values for year_built (TODO)
climate_clean = climate_clean.dropna()

In [ ]:
#climate_clean.isna().sum()

In [ ]:
print(len(climate_clean.index))

73914

### Categorical -> numerical

Baseline: one hot encode facility_type

2nd attempt: label encode

3rd attempt: cluster into fewer groups

Categorical columns: State_Factor, building_class, facility_type

In [ ]:
climate_clean['facility_type'].nunique()

60

In [ ]:
# Categorical columns: 'State_Factor', 'building_class', 'facility_type'
climate_clean.State_Factor.describe()

count       73914
unique          7
top       State_6
freq        50007
Name: State_Factor, dtype: object

In [ ]:
climate_clean.State_Factor.sample(3)

id
68744    State_8
25038    State_6
43180    State_6
Name: State_Factor, dtype: object

In [ ]:
climate_clean.building_class.describe()

count           73914
unique              2
top       Residential
freq            43150
Name: building_class, dtype: object

In [ ]:
climate_clean.building_class.sample(3)

id
6175     Residential
57555    Residential
68341    Residential
Name: building_class, dtype: object

In [ ]:
climate_clean.facility_type.describe()

count                         73914
unique                           60
top       Multifamily_Uncategorized
freq                          39072
Name: facility_type, dtype: object

In [ ]:
climate_clean.facility_type.sample(3)

id
31906             Multifamily_Uncategorized
2671     Mixed_Use_Predominantly_Commercial
64681             Multifamily_Uncategorized
Name: facility_type, dtype: object

In [ ]:
climate_clean.cooling_degree_days.describe()

count    73914.000000
mean      1201.973402
std        385.793403
min         55.000000
25%       1128.000000
50%       1277.000000
75%       1489.000000
max       1999.000000
Name: cooling_degree_days, dtype: float64

* State_Factor -> dummy
*building_class -> dummy
* facility_type -> dummy (for now) -> label encode later
* Year_Factor -> dummy (assumption: order not kept)

In [ ]:
# Make 4 nominal categorical variables into dummy variables (one-hot encoding)
climate_n = pd.get_dummies(climate_clean, columns = ['State_Factor', 'building_class', 'facility_type', 'Year_Factor'])

In [ ]:
# Label encode facility_type
# from sklearn.preprocessing import LabelEncoder
# labelencoder = LabelEncoder()
# climate_n['facility_type'] = labelencoder.fit_transform(climate_n['facility_type'])
# climate_n['facility_type'].sample(3)

In [ ]:
print(climate_n.shape) # Expect (63 - 4) + (41 + 2 + 7 + 6 - 4) = 111 ?

(73914, 130)

In [ ]:
print(list(climate_n.columns))

['floor_area', 'year_built', 'energy_star_rating', 'ELEVATION', 'january_min_temp', 'january_avg_temp', 'january_max_temp', 'february_min_temp', 'february_avg_temp', 'february_max_temp', 'march_min_temp', 'march_avg_temp', 'march_max_temp', 'april_min_temp', 'april_avg_temp', 'april_max_temp', 'may_min_temp', 'may_avg_temp', 'may_max_temp', 'june_min_temp', 'june_avg_temp', 'june_max_temp', 'july_min_temp', 'july_avg_temp', 'july_max_temp', 'august_min_temp', 'august_avg_temp', 'august_max_temp', 'september_min_temp', 'september_avg_temp', 'september_max_temp', 'october_min_temp', 'october_avg_temp', 'october_max_temp', 'november_min_temp', 'november_avg_temp', 'november_max_temp', 'december_min_temp', 'december_avg_temp', 'december_max_temp', 'cooling_degree_days', 'heating_degree_days', 'precipitation_inches', 'snowfall_inches', 'snowdepth_inches', 'avg_temp', 'days_below_30F', 'days_below_20F', 'days_below_10F', 'days_below_0F', 'days_above_80F', 'days_above_90F', 'days_above_100F', 'days_above_110F', 'site_eui', 'State_Factor_State_1', 'State_Factor_State_10', 'State_Factor_State_11', 'State_Factor_State_2', 'State_Factor_State_4', 'State_Factor_State_6', 'State_Factor_State_8', 'building_class_Commercial', 'building_class_Residential', 'facility_type_2to4_Unit_Building', 'facility_type_5plus_Unit_Building', 'facility_type_Commercial_Other', 'facility_type_Commercial_Unknown', 'facility_type_Data_Center', 'facility_type_Education_College_or_university', 'facility_type_Education_Other_classroom', 'facility_type_Education_Preschool_or_daycare', 'facility_type_Education_Uncategorized', 'facility_type_Food_Sales', 'facility_type_Food_Service_Other', 'facility_type_Food_Service_Restaurant_or_cafeteria', 'facility_type_Food_Service_Uncategorized', 'facility_type_Grocery_store_or_food_market', 'facility_type_Health_Care_Inpatient', 'facility_type_Health_Care_Outpatient_Clinic', 'facility_type_Health_Care_Outpatient_Uncategorized', 'facility_type_Health_Care_Uncategorized', 'facility_type_Industrial', 'facility_type_Laboratory', 'facility_type_Lodging_Dormitory_or_fraternity_sorority', 'facility_type_Lodging_Hotel', 'facility_type_Lodging_Other', 'facility_type_Lodging_Uncategorized', 'facility_type_Mixed_Use_Commercial_and_Residential', 'facility_type_Mixed_Use_Predominantly_Commercial', 'facility_type_Mixed_Use_Predominantly_Residential', 'facility_type_Multifamily_Uncategorized', 'facility_type_Nursing_Home', 'facility_type_Office_Bank_or_other_financial', 'facility_type_Office_Medical_non_diagnostic', 'facility_type_Office_Mixed_use', 'facility_type_Office_Uncategorized', 'facility_type_Parking_Garage', 'facility_type_Public_Assembly_Drama_theater', 'facility_type_Public_Assembly_Entertainment_culture', 'facility_type_Public_Assembly_Library', 'facility_type_Public_Assembly_Movie_Theater', 'facility_type_Public_Assembly_Other', 'facility_type_Public_Assembly_Recreation', 'facility_type_Public_Assembly_Social_meeting', 'facility_type_Public_Assembly_Stadium', 'facility_type_Public_Assembly_Uncategorized', 'facility_type_Public_Safety_Courthouse', 'facility_type_Public_Safety_Fire_or_police_station', 'facility_type_Public_Safety_Penitentiary', 'facility_type_Public_Safety_Uncategorized', 'facility_type_Religious_worship', 'facility_type_Retail_Enclosed_mall', 'facility_type_Retail_Strip_shopping_mall', 'facility_type_Retail_Uncategorized', 'facility_type_Retail_Vehicle_dealership_showroom', 'facility_type_Service_Drycleaning_or_Laundry', 'facility_type_Service_Uncategorized', 'facility_type_Service_Vehicle_service_repair_shop', 'facility_type_Warehouse_Distribution_or_Shipping_center', 'facility_type_Warehouse_Nonrefrigerated', 'facility_type_Warehouse_Refrigerated', 'facility_type_Warehouse_Selfstorage', 'facility_type_Warehouse_Uncategorized', 'Year_Factor_1', 'Year_Factor_2', 'Year_Factor_3', 'Year_Factor_4', 'Year_Factor_5', 'Year_Factor_6']

In [ ]:
# TODO: label encode facility_type (think of numeric encoding that keeps groupings and makes sense as numbers distance-wise)
# Make groupings with clustering for fewer unique types

### Output

In [ ]:
# Export clean + preprocessed csv (climate_n)
climate_n.to_csv('./train_clean_2.csv')